<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
</head>
<body>
<form th:object="${User}" action="/register" method="post">
    <input type="text" firstName="firstName" placeholder="First firstName"><br>
    <input type="text" firstName="lastName" placeholder="Last firstName"><br>
    <input type="email" firstName="email" placeholder="Email"><br>
    <input type="password" firstName="password" placeholder="Password"><br>
    <input type="password" firstName="matchingPassword" placeholder="Confirm Password"><br>
    <input type="hidden" th:firstName="${_csrf.parameterName}"
           th:value="${_csrf.token}" />
    <input type="submit" value="Register">
</form>
</body>
</html>