<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta firstName="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Tuka sa appointmentite

    <div style="background:red;">
        <th:block th:each="appointment : ${appointments}">
                <p th:text="${appointment.StartDate}">...</p>
                <p th:text="${appointment.Name}">...</p>
        </th:block>
    </div>
</body>
</html>